
@*@using Microsoft.AspNet.Identity*@

@if (Request.IsAuthenticated)//if user is logged in
{
    //and if user is admin
    @*if (User.IsInRole("admin"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resturants <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Resturants", "Index", "Restaurant")</li>
                <li>@Html.ActionLink("Foods", "Index", "Food")</li>
            </ul>
        </li>
    }
    else*@ 
    if (User.IsInRole("user"))
    {
        <li>@Html.ActionLink("My Favorites", "Favorite", "Food")</li>
    
        if (User.IsInRole("owner"))
        {
            <li>@Html.ActionLink("My Restaurant", "MyRestaurant", "Restaurant")</li>
        }
    }
}
else
{
    //Guest:  non-authenticated user
    @*<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resturants <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Resturants", "Index", "Restaurant")</li>
            <li>@Html.ActionLink("Foods", "Index", "Food")</li>
        </ul>
    </li>*@
}