@model FoodPicker.Models.Food

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Restaurant.Name)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">

            <img src="~/FoodImages/@Model.ImageName" alt="@Model.Name" />

        </div>

        <dl class="dl-horizontal col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Restaurant.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Restaurant.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAdded)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AverageRating)
            </dt>

            <dd>
                
                @if (Model.AverageRating == null)
                {
                    @Html.BootstrapRating().ReadOnly.Value(0)
                }
                else
                {
                    @Html.BootstrapRating().ReadOnly.Value((double)Model.AverageRating)
                }

            </dd>

        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3>Description</h3>
        <p>
            
                @Html.DisplayFor(model => model.Description)
           </p>
        
    </div>
</div>

@*@{
    var action = (User.IsInRole("admin") ? "Index" : "Listing");
}*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FoodID }) |
    @Html.ActionLink("Back to List", "Index")
</p>