@model IEnumerable<FoodPicker.Models.Food>

@{
    ViewBag.Title = "Favorite";
}

<h2>Favorite</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
      
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            
                <div class="thumbnail center-block">

                    <img src="~/FoodImages/@item.ImageName" alt="@item.Name" class="img-responsive" />

                </div>
            
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        
      
        <td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                      <input type="submit" value="Remove" class="btn btn-danger" /> | @Html.ActionLink("Go To Details", "Details", new { id = item.FoodID})
                </div>
            }
        </td>
    </tr>
}@**@

</table>
