@model IEnumerable<FoodPicker.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Resturants</h2>

<div class="thumbnail"></div>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            Hours
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress), <br />
            @Html.DisplayFor(modelItem => item.City), 
            @Html.DisplayFor(modelItem => item.Province) <br />
            @Html.DisplayFor(modelItem => item.PostalCode)
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            <table class="table-condensed">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.MondayHours):</td>
                    <td>@Html.DisplayFor(modelItem => item.MondayHours)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TuesdayHours):</td>
                    <td>@Html.DisplayFor(modelItem => item.TuesdayHours)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.WednesdayHours):</td>
                    <td>@Html.DisplayFor(modelItem => item.WednesdayHours):</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ThursdayHours):</td>
                    <td>@Html.DisplayFor(modelItem => item.ThursdayHours)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.FridayHours):</td>
                    <td>@Html.DisplayFor(modelItem => item.FridayHours)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.SaturdayHours):</td>
                    <td>@Html.DisplayFor(modelItem => item.SaturdayHours)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.SundayHours):</td>
                    <td>@Html.DisplayFor(modelItem => item.SundayHours)</td>
                </tr>
            </table>
        </td>
       
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.RestaurantID }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.RestaurantID })
            
        </td>
    </tr>
}

</table>
