@model FoodPicker.Models.User
@{
    ViewBag.Title = "User Info";
}
<h2>Profile</h2>
<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    @using (Html.BeginForm("EditInfo", "Manage", new { id = Model.UserID}, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserID)
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-warning" value="Update" />
            </div>
        </div>
    }
</div>
